<link rel="stylesheet" type="text/css" media="screen" href="<{$xoops_url}>/modules/tadtools/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" media="screen" href="<{$xoops_url}>/modules/tadtools/bootstrap/css/bootstrap-responsive.css" />
<link rel="stylesheet" type="text/css" media="screen" href="<{$xoops_url}>/modules/tadtools/css/xoops_adm.css" />

    <form   method='post' >
    <fieldset>
    <legend>選擇班級</legend>
    <span>班級：</span>
    <{html_options name=class_id  options=$data.class_name_list_c  selected=$data.select_class_id  onchange="submit();"  class="span2" }><br />
	個人樣版：<input type="text" name="tpl"  class="span10" value="<{$tpl_str}>"  title="修改後，還要按下更新鍵" > <br />
	<div class="alert alert-info">
	__class_id 班級代號
__sitid 座號
__00sitid 座號(補0二位數)
__name 學生姓名
__00name 學生姓名(*同學)
__person_id 身份証號
__birthday 生日
__stud_id 學生代號
__parent 學生監護人
__00paren 學生監護人(*家長)
__sex 性別代碼
	</div>
	<button class="btn btn-primary"   value="更新" name="act_renew" type="submit">更新</button>

    </fieldset>
    </form>
   <h3>偏好設定中保留常用樣式</h3>
   <textarea class="span12" title="可以偏好中設定">
   <{foreach  key=t_key item=list    from= $tpl_list }>
  <{$list}>
   <{/foreach}>
   </textarea>
   <h3><{ $data.class_name_list_c[$data.select_class_id] }>-名冊匯出結果</h3>
	<{$main}>
 	<h3>網頁原始碼</h3>
	<textarea class="span10" rows="20" name="dhcp"><{$main}></textarea>
