<{$toolbar}>
    <form   method='post' >
    <fieldset>
    <legend>學生名單</legend>
    <span>班級：</span>
    <{html_options name=class_id  options=$data.class_id_list  selected=$data.select_class_id  onchange="submit();"  class="col-md-4" }>

    </fieldset>
    </form>
 <div class="row" >
   <h3><{$data.select_class_id }>班級學生名冊</h3>
    <table class="table table-hover col-md-5">
	 <{foreach  key=key item=stud   from= $students }>
	 <tr>
	      <td><{$stud.class_sit_num}></td>
	      <td><{$stud.name}></td>
	      <td><{$sexstr[$stud.sex]}></td>
	 </tr>
	 <{/foreach }>

    </table>
</div>
