<{$toolbar}>
    <form   method='post' >
    <fieldset>
    <legend>班級名冊</legend>
    <span>班級：</span>
    <{html_options name=class_id  options=$data.class_name_list_c  selected=$data.select_class_id  onchange="submit();"  class="span2" }>
    <a class="btn btn-success" href="export_namelist.php?class_id=<{$data.select_class_id}>" title="匯出EXCEL">本班名冊</a>
    <a class="btn btn-primary" href="export_namelist.php?grade=1&class_id=<{$data.select_class_id}>" title="匯出EXCEL">學年名冊</a>
    <a class="btn btn-info" href="export_parentlist.php?class_id=<{$data.select_class_id}>" title="匯出WORD">家長代表選票</a>
    </fieldset>
    </form>
<{ if ($data.list)}>
	<table class="table table-bordered table-hover" >
	<tr>
   <td class="span1">班級</td><td class="span1">座號</td><td class="span2">姓名</td>
   </tr>
   <{foreach  key=t_key item=list    from= $data.list }>
   <tr>
   <td><{$data.class_name_list_c[$list.class_id]}></td><td><{$list.class_sit_num}></td><td><{$list.name}></td>
   </tr>

   <{/foreach}>
   </table>
<{/if}>
