<link rel="stylesheet" type="text/css" media="screen" href="<{$xoops_url}>/modules/tadtools/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" media="screen" href="<{$xoops_url}>/modules/tadtools/bootstrap/css/bootstrap-responsive.css" />
<link rel="stylesheet" type="text/css" media="screen" href="<{$xoops_url}>/modules/tadtools/css/xoops_adm.css" />
      <div class="row-fluid">
      <h3>級任設定(配對)</h3>
      <div class="span9" id="class_div">
      	<div class="row-fluid">
      	<div class="span2" id="class_div">
      	<h4>班級列表</h4>
      	</div>
      	<div class="span2" id="class_div">
      	<form  action="teacher_set.php" method="post" >
      	<button type="submit" name='act_clear'  value='刪除'  class="btn btn-danger" onclick='return confirm("真的要清空設定?")' >清空</button>
      	</form>
        </div>
        </div>
        
 	
      	<{foreach  key=c_key item=class_id    from= $data.class_list }>
 
      	       <{if ($data.class_set[$c_key])}>  
      	           <span  class="span2" id="span_<{$class_id}>" > 
      	           <label  id="class_<{$class_id}>" title='<{$class_id}>' name_title='<{$class_id}>' class="label label-inverse">
      	           <{$class_id}>_<{ $data.class_teach[$c_key]}></label><i class="icon-trash del" id="i_<{$class_id}>" data_ref="teacher_<{$data.class_set[$c_key]}>:class_<{$class_id}>" ></i>
       	           </span>
      	       <{else}>
		<span class="span2" id="span_<{$class_id}>"><label  id="class_<{$class_id}>" title='<{$class_id}>' name_title='<{$class_id}>' class="label label-success"><{$class_id}></label><i id="i_<{$class_id}>" ></i></span>
      		<{/if}> 
      	<{/foreach }>
 
 
 	
 	
      </div> 
      
      <div class="span2" id="teacher_div">
      <h4>教師列表</h4>

	<{foreach  key=t_key item=teacher_list    from= $data.teacher }>
	<{if ($data.teacher_class[$t_key])}>  
	<label id="teacher_<{$t_key}>" title='<{$teacher_list.name}>(<{$teacher_list.uname}>)' name_title='<{$teacher_list.name}>' class="label label-success" style="display: none;"><{$teacher_list.name}></label>
	<{else}>
	<label id="teacher_<{$t_key}>" title='<{$teacher_list.name}>(<{$teacher_list.uname}>)' name_title='<{$teacher_list.name}>' class="label label-success"><{$teacher_list.name}></label>
	<{/if}>
	<{/foreach }>
          <p> <button  id='show_register' class="btn btn-primary" smode="0" >校內人員(切換)</button></p>
      </div>
   
      </div>  
      <div class="row-fluid">
      	<p>
            <span class="label label-info">說明</span>
            點選雙邊進行設定班級導師，選擇時呈黃色，設定完成為黑色，教師姓名會隱藏。垃圾桶圖示會還原重新設定。
        </p>  
      </div>
      
      
    <script>
    var label_tea='' ;
    var label_class='' ;
    var o_label_tea='' ;
    var o_label_class='' ;
    var name='';
    var class_id='';
    
    //教師部份的點選(綠-未選，黃-正在選，黑-已設定不能選)
    $(document).on("click", "#teacher_div  label" ,  function(){
          
    	if ($(this).attr("class") == "label label-success" ){
    	   //可選
    	  	$(this).removeClass() ;
        	$(this).addClass('label label-warning') ;
		    label_tea= $(this).attr("id")  ;
        	name =  $(this).attr("name_title")  ;
        	if (o_label_tea!=''){
        	   	//換選，先前的還原
        		$('#'+o_label_tea).removeClass() ;
        		$('#'+o_label_tea).addClass('label label-success') ;
        	}
        	o_label_tea = $(this).attr("id")  ;
		    link() ;
	    }else {
		    if ($(this).attr("class") == "label label-warning" ){
			    //不再選
			    $(this).removeClass() ;
			    $(this).addClass('label label-success') ;
			    label_tea= '' ;
			    o_label_tea ='' ;
        		name = '' ;		
		    }
	    }
        
    });
    
    //班級部份的點選
    $(document).on("click", "#class_div label" ,  function(){
    	//alert ($(this).attr("class") ) ;
    	if ($(this).attr("class") == "label label-success" ){
    	   //可選
    	  	$(this).removeClass() ;
        	$(this).addClass('label label-warning') ;
		label_class= $(this).attr("id")  ;
        	class_id =  $(this).attr("name_title")  ;
        	if (o_label_class!=''){
        		//換選，先前的還原
        		$('#'+o_label_class).removeClass() ;
        		$('#'+o_label_class).addClass('label label-success') ;
        	}
        	o_label_class = $(this).attr("id")  ;
		link() ;
	}else {
		if ($(this).attr("class") == "label label-warning" ){
			//不再選
			$(this).removeClass() ;
			$(this).addClass('label label-success') ;
			label_class= '' ;
			o_label_class ='' ;
        		class_id = '' ;		
		}
	}    
 

    });   
 
    //作配對，改成黑色，寫入
    function link() {
    		// label_class 內容如： class_201
          if ((label_tea != '') & (label_class!=''))  {
             mark_id = label_tea +':' + label_class ;
             $('#'+label_class).html(class_id +'_'+ name )  ;  //出現姓名
            //+ '<span class="del" id="' + mark_id + '"><i class="icon-trash icon-white"></i></span>'
             $('#'+label_class).removeClass() ;
             $('#'+label_class).addClass('label label-inverse') ;
             $('#'+label_tea).addClass('label label-inverse') ;
             $('#'+label_tea).hide() ;
             
             //刪除圖示的內容放置
             var splits = label_class.split('_') ;
             var icon = 'i_'+ splits[1] ;
             $('#' +icon).removeClass() ;
             $('#' +icon).attr('data_ref', mark_id) ;
 	     $('#' +icon).addClass("icon-trash del") ;
             
             label_tea ='' ;
             o_label_tea ='' ;
             label_class='' ;
             o_label_class ='' ;
             //設定教師
             //alert(mark_id) ;
             ajax_set_teacher(mark_id) ;
          }     
    }      
    
    //把目前有選定的部份先清空
    function clear_now() {
             if (o_label_tea!=''){
        		$('#'+o_label_tea).removeClass() ;
        		$('#'+o_label_tea).addClass('label label-success') ;
             }  
             if (o_label_class!=''){
        		$('#'+o_label_class).removeClass() ;
        		$('#'+o_label_class).addClass('label label-success') ;
             }             
             label_tea ='' ;
             o_label_tea ='' ;
             label_class='' ;
             o_label_class ='' ;    
    }
    

    
    //消除配對，還原----------------------------------------------------------------------------------
  $(document).on("click", ".del", function(){

    var mark_id = $(this).attr("data_ref")  ;
    var splits = mark_id.split(':') ;
    clear_now() ;

    $('#'+splits[0]).removeClass() ;
    $('#'+splits[0]).addClass('label label-success') ;
    $('#'+splits[0]).show() ;
    $('#'+splits[1]).removeClass() ;
    $('#'+splits[1]).addClass('label label-success') ;  
 
    $('#'+splits[1]).text($('#'+splits[1]).attr("name_title") ) ;
    //清除教師
    //alert (mark_id) ;
    ajax_del_teacher(mark_id) ;
    $(this).removeClass() ;
    $('#' +icon).attr('data_ref', "") ;
 
  });
  
      var ajax_set_teacher=function( tid ){
      	  //指定教師，寫入
             var URLs="ajax_set_teacher.php" ;
    
            $.ajax({
                url: URLs,
                type:"GET",
                dataType:'text',
				data:{id:tid , job:"<{$data.staff_teacher_id }>"} ,
                success: function(msg){
                    //alert(msg);
                },

                 error:function(xhr, ajaxOptions, thrownError){
                    alert('error:' + xhr.status);
                    alert(thrownError);
                 }
           })
        }  
  
      var ajax_del_teacher=function( tid ){
      	  //刪除記錄
             var URLs="ajax_del_teacher.php" ;
    
            $.ajax({
                url: URLs,
                type:"GET",
                dataType:'text',
				data:{id:tid , job:"<{$data.staff_teacher_id }>"} ,
                success: function(msg){
                   // alert(msg);
                },

                 error:function(xhr, ajaxOptions, thrownError){
                    alert('error:' + xhr.status);
                    alert(thrownError);
                 }
           })
        }

    //顯示全部的註冊人員、校內人員(切換)----------------------------------------------------------------------------------
    $(document).on("click", "#show_register", function(){
        var smode =  $(this).attr("smode")  ;
        //alert(smode)
        clear_now() ;
        ajax_show_teacher(smode) ;

    });

    var ajax_show_teacher=function( smode ){
        //刪除記錄
        var URLs="ajax_redisp_teacher.php" ;

        $.ajax({
            url: URLs,
            type:"GET",
            dataType:'text',
            data:{mode:smode } ,
            success: function(msg){
                //重顯示教師群
                $("#teacher_div").html(msg) ;
            },

            error:function(xhr, ajaxOptions, thrownError){
                alert('error:' + xhr.status);
                alert(thrownError);
            }
        })
    }
    </script>      